*{
    font-weight: bold;
}

nav{
    background: rgb(255, 187, 0);
}

#nav{
    margin-left: 55%;
}

input{
    width: 100%;
    height: 30px;
    border: none;
    background-color: rgb(228, 225, 225);
}


